<div class="container mt-4">
  <h2>Consultorías</h2>
  <% consultorias.forEach(function(consultoria) { %>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title"><%= consultoria.nombre_archivo %></h5>
        <p class="card-text"><%= consultoria.descripcion_archivo %></p>
        <p class="card-text"><small class="text-muted">Fecha de subida: <%= consultoria.fecha_subida_archivo %></small></p>
        <a href="/descargar/<%= consultoria.id_consultoria %>" class="btn btn-primary">Descargar</a>
        <a href="/actualizar-consultoria/<%= consultoria.id_consultoria %>">Actualizar</a>
        <form action="/evaluar_consultoria" method="post" class="mt-2">
          <div class="form-group">
            <label for="nota">Evaluar consultoría:</label>
            <input type="hidden" name="id_consultoria" value="<%= consultoria.id_consultoria %>">
            <input type="number" class="form-control" min="0" max="7" name="nota">
          </div>
          <input type="submit" value="Evaluar" class="btn btn-success">
        </form>
      </div>
    </div>
  <% }) %>
</div>
<div class="container mt-4">
  <button onclick="location.href='/logout'" class="btn btn-danger">Cerrar Sesión</button>
</div>
