
<h1>Editar Usuario</h1>

<form action="/editar_usuario/<%= usuario.id_usuario %>" method="POST">
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" value="<%= usuario.nombre %>" required>
  <br>
  <label for="correo">Correo Electrónico:</label>
  <input type="email" name="correo" value="<%= usuario.correo_electronico %>" required>
  <br>
  <label for="rut">RUT:</label>
  <input type="text" name="rut" value="<%= usuario.rut %>" required>
  -
  <input type="text" name="dv" value="<%= usuario.rut_id %>" required>
  <br>
  <label for="password">Contraseña:</label>
  <input type="password" name="password" required>
  <br>
  <label for="tipo_usuario">Tipo de Usuario:</label>
  <input type="text" name="tipo_usuario" value="<%= usuario.id_tipo_usuario %>" required>
  <br>
  <input type="submit" value="Guardar Cambios">
</form>
