<!DOCTYPE html>
<html>
<head>
  <title>Inicio Administrador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>
  <div class="container">
    <% if (messages.error) { %>
      <div class="alert alert-danger">
        <%= messages.error %>
      </div>
    <% } %>
    
    <% if (messages.success) { %>
      <div class="alert alert-success">
        <%= messages.success %>
      </div>
    <% } %>

    <h1 class="my-4 text-center">Inicio Administrador</h1>

    <div class="mb-4">
      <a href="/consultorias" class="btn btn-primary">Consultorias</a>
    </div>

    <div class="mb-4">
      <input type="text" id="search" class="form-control" placeholder="Buscar...">
    </div>

    <table id="userTable" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>RUT</th>
          <th>Opciones</th>
        </tr>
        <% for (let i = 0; i < users.length; i++) { %>
          <tr>
            <td><%= users[i].id_usuario %></td>
            <td><%= users[i].nombre %></td>
            <td><%= users[i].correo_electronico %></td>
            <td><%= users[i].rut %>-<%= users[i].rut_id %></td>
            <td>
              <a href="/borrar_usuario/<%= users[i].id_usuario %>">Borrar</a>
              <a href="/editar_usuario/<%= users[i].id_usuario %>">Editar</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <% if (typeof message !== 'undefined') { %>
      <div class="my-4 text-center">
        <h2><%= message %></h2>
      </div>
    <% } else { %>
      <div class="my-4">
        <canvas id="chart"></canvas>
      </div>
      <div class="my-4 text-center">
        <p>Verde = Aceptado</p>
        <p>Rojo = Rechazado</p>
        <p>Azul = Analizando</p>
      </div>
    <% } %>

    <div class="mb-4">
      <a href="/registrar_admin" class="btn btn-primary">Ingresar nuevo usuario</a>
    </div>

    <script>
      var data = {
        labels: ['<%= labels %>'],
        datasets: [{
          data: [<%= data %>],
          backgroundColor: ['green', 'red', 'blue']
        }]
      };
    
      // Crear el gráfico
      var ctx = document.getElementById('chart').getContext('2d');
      new Chart(ctx, {
        type: 'doughnut',
        data: data
      });
    </script>
    
  </div>
</body>
</html>
