<!DOCTYPE html>
<html>
<head>
  <title>Inicio Administrador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <a href="/logout" class="btn btn-primary" style="position: absolute; top: 0; right: 0;">Cerrar sesión</a>
  <div class="container">
    <% if (message.error) { %>
      <div class="alert alert-danger">
        <%= message.error %>
      </div>
    <% } %>
    
    <% if (message.success) { %>
      <div class="alert alert-success">
        <%= message.success %>
      </div>
    <% } %>
   
    <h1 class="my-4 text-center">Inicio Administrador</h1>

    <form action="/inicio_admin" method="GET">
      <input type="text" name="rut" placeholder="Buscar por RUT">
      <button type="submit">Buscar</button>
    </form>

    <table id="userTable" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>RUT</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < users.length; i++) { %>
          <tr>
            <td><%= users[i].id_usuario %></td>
            <td><%= users[i].nombre %></td>
            <td><%= users[i].correo_electronico %></td>
            <td><%= users[i].rut %>-<%= users[i].rut_id %></td>
            <td>
              <a href="/borrar_usuario/<%= users[i].id_usuario %>">Borrar</a>
              <a href="/editar_usuario/<%= users[i].id_usuario %>">Editar</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <div class="my-4">
      <canvas id="myChart"></canvas>
    </div>

     <script>
    // Parse the labels and data from the server
    var labels = JSON.parse('<%- labels %>');  // Convierte la cadena JSON a un array
    var data = JSON.parse('<%- data %>');  // Convierte la cadena JSON a un array

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Número de consultorías',
                data: data,
                backgroundColor: [
                    'rgba(54, 162, 235, 1)',  // Color azul para 'Analizando'
                    'rgba(255, 99, 132, 1)',  // Color rojo para 'Rechazado'
                    'rgba(255, 206, 86, 1)'   // Color amarillo para 'Aceptado'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Consultorías por estado'
                }
            }
        },
    });
    </script>

    <div class="mb-4">
      <a href="/registrar_admin" class="btn btn-primary">Ingresar nuevo usuario</a>
    </div>

  </div>
</body>
</html>
